*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/LMLSTUDIO.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
body{
    background-color: black;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;    
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff    ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box h2{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.socialMediaIcon{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.socialMediaIcon a{
    font-size: 30px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}
.socialMediaIcon a:hover{
    opacity: 0.9;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #585065;
    background: #585065;
    transition: 1s;
}

.play-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #258a63;
    position: relative;
    cursor: pointer;
}
.play-btn:hover{
    border: 1px solid #f44336;
    background: #4682b4;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box h2{
        font-size: 20px;
    }
    .socialMediaIcon a{
        font-size: 20px;
        margin: 0 0px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336; 
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px
    }
}

/*------Project--------*/

.project{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row.moreButton{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}
.project-col{
    flex-basis: 31%;
    background: #99CCFF;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #fff;
}

.project-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-------Games-----*/
.games{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px
}
.games-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.games-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(266,0,0,0.7);
    cursor: pointer;
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 60%;
    opacity: 1;
}

.layer a{
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover a{
    bottom: 40%;
    opacity: 1;
}
/*------screenshots-------*/

.youtube{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.youtube-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.youtube-col iframe{
    width: 100%;
    border-radius: 10px;
}
.youtube-col p{
    padding: 0;
}
.youtube-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 23%; 
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
}

.youtube-vid-1{
  float:left;
  width:50%;
}
.youtube-vid-2{
    float: inherit;
    width:50%;
}
.youtube-vid-3{
  float:right;
  width:50%;
}

/*-----Members--------*/
.members{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.profiles{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.profile .profile-img{
    height: 260px;
    width: 290px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img{
    filter: grayscale(0);
}

.user-name{
    margin-top: 30px;
    font-size: 35px;
}

.profile h5{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #ccc;
}

.profile p{
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

@media only screen and (max-width: 1150px){
    .profiles{
        flex-direction: column;
    }

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile p{
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

/*------Call to action--------*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/banner2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*-----Footer------*/

.footer{
    padding: 40px 0;
    background-color: #000;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: #fff
}
.footer p{
    text-align: center;
    margin-top: 25px;
}
.footer a{
    text-decoration: none;
    color: #ff9999;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

/*---------About page------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/banner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    font-size: 90px;
    margin-top: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(image/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.about{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #fff;
}
.red-btn:hover{
    color: #fff;
}

/*------Blog content------*/
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-heading span{
    color: #f33c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #fff;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width:350px;
    background-color: #ffffff;
    margin: 20px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text p{
    padding: 0;
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #c74242;
    transition: all ease 0.3s;
}
.socialmedia-col{
    margin: 30px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.socialmedia-col p{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 40px;
}


@media(max-width:1250px){

    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}

@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}

/*-----Reveal Elements on Scroll effect----*/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.autoReveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.autoReveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.leftReveal{
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 2s ease;
}
.leftReveal.active{
    transform: translateX(0px);
    opacity: 1;
}

.autoLeftReveal{
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 2s ease;
}
.autoLeftReveal.active{
    transform: translateX(0px);
    opacity: 1;
}
.navReveal{
    position: relative;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 2s ease;
}
.navReveal.active{
    transform: translateY(0px);
    opacity: 1;
}


/*-------Contact content-------*/
.contact{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.card{
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.card.link{
    cursor: pointer;
}
.card-icon{
    transform: scale(2.8);
    font-size: 28px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}
.card:hover .card-icon{
    background: none;
    color: #97c3e5;
    transform: scale(3.4);
}
.card p{
    color: #fff;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
.card:hover p{
    max-height: 40px;
    opacity: 1;
}
.card a{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width:800px) {
    .contact-info{
        flex-direction: column;
    }
    .card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}